/* --------- General style */

body {
    /*background-color:blueviolet;*/
    background: url("../images/horizon.jpg") no-repeat center center;
    background-size: cover;
    font-family: "nova square", sans-serif;
    color: #fff;
    text-align: center;
}

/* --------- Heading */

.heading {
    font-size: 3.5rem;
}

/* --------- Quiz layout */

.quiz-container {
    background-color: rgba(3, 18, 114, 0.3);
    box-sizing: border-box;
    justify-content: center;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
}

.quiz-question-container {
    width: auto;
    margin: 0 auto;
}

.quiz-question {
    font-size: 1.75rem;
}

.quiz-selection {
    font-size: 2.5rem;
    justify-content: center;
}

.quiz-progress {
    font-size: 1.75rem;
    margin: 10px auto;
    text-align: center;
}

.quiz-results {

}

/* --------- Buttons */

.main-buttons {

}

.btn {
    width: 18rem;
    height: 3rem;
    letter-spacing: 1rem;
    background-color:rgb(129 143 232 0.8)
}

.btn:active {
    border: 2px solid orange;
}
.btn:hover {

}
.btn:focus {
    outline: none;
}

.btn--gray {

}

.btn--gray:active,
.btn--gray:hover {
    background-color: #1069c2;
}

